<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <input name="brandName" id="brandNameSearch" size="25" class="form-control placeholder-no-fix searchBox"
                   style="width: 50%;" type="text" autocomplete="off" placeholder="查找设备品牌"/>
            <span>设备类型：</span>
            <select name="brandType" id="brandTypeSearch" class="form-control" style="width: 25%; display: inline-block;">
                <option value="0" selected>所有</option>
            </select>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem1">设备品牌</span>
            <span class="userItem1">所属类型</span>
            <span class="userItem6">设备数量</span>
            <span class="userItem6">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="equipmentBrandInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备品牌信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentBrandForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							设备品牌：<i>*</i>
						</span>
                        <input type="hidden" id="brandId" name="brandId"/>
                        <span>
							<input type="text" id="brandName" name="brandName" placeholder="设备品牌"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            所属类型：<i>*</i>
                        </span>
                        <span>
							<select name="brandType" id="brandType" class="form-control" required>
                            </select>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveEquipmentBrand" type="button" class="btn blue">保存</button>
            <button id="closeEquipmentBrand" type="button" class="btn gray">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        $('#searchBut').click(function () {
            search(1);
        });

        $('#createBut').click(function () {
            edit(0);
        });

        function search(pageNum) {
            const url = 'equipment/brand/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 25,
                    'brandName': $("#brandNameSearch").val(),
                    'brandType': $("#brandTypeSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        $("#searchResult").append('<div class="userRow"><span class="userItem1">'
                            + n.brandName
                            + '</span><span class="userItem1">'
                            + n.typeName
                            + '</span><span class="userItem6">'
                            + nullToZero(n.equipmentCount)
                            + '</span><span class="userItem6"><button type="button" class="btn blue" onclick="edit(\''
                            + n.brandId
                            + '\')">修改</button></span></div>');
                    });
                });
        }

        function edit(brandId) {
            if (brandId == 0) {
                $("#equipmentBrandForm").resetForm();
            } else {
                $("#equipmentBrandForm").resetForm();
                const url = 'equipment/brand/info';
                $.getJSON(url, {
                    'brandId': brandId
                }, function (data) {
                    $("#brandId").val(data.brandId);
                    $("#brandName").val(data.brandName);
                    $("#brandType").val(data.brandType);
                });
            }
            dialogueOpen("equipmentBrandInfo");
        }

        $(".dialogueClose").click(function (target) {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeEquipmentBrand").click(function (target) {
            dialogueClose("equipmentBrandInfo");
        });

        $("#saveEquipmentBrand").click(function (target) {
            $("form#equipmentBrandForm").submit();
        });

        $(function () {
            $("form#equipmentBrandForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/brand/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("equipmentBrandInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        function getTypeList() {
            const url = 'equipment/type/list';
            $.getJSON(url, {
                'typeBrand': true,
                'typeModel': false,
                'typeSecrecy': false,
                }, function (data) {
                    $.each(data, function (i, n) {
                        let str = "<option value='" + n.typeId + "'>" + n.typeName + "</option>";
                        $("#brandTypeSearch").append(str);
                        $("#brandType").append(str);
                    });
            });
        }

        $(function () {
            search(1);
            getTypeList();
            $("#index-page-title").html("设备品牌管理");
            $("#current-page-title").html("设备品牌管理");
        });
    </script>
</div>