<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <select name="equipmentType" id="equipmentTypeSearch" class="form-control"
                    style="width: 25%; display: inline-block;">
                <option value="0" selected>所有设备类型</option>
            </select>
            <select name="equipmentBrand" id="equipmentBrandSearch" class="form-control"
                    style="width: 25%; display: inline-block;">
                <option value="0" selected>所有设备品牌</option>
            </select>
            <select name="equipmentModel" id="equipmentModelSearch" class="form-control"
                    style="width: 25%; display: inline-block;">
                <option value="0" selected>所有设备型号</option>
            </select>
            <select name="equipmentStatus" id="equipmentStatusSearch" class="form-control"
                    style="width: 25%; display: inline-block;">
                <option value="4" selected>所有非报废设备</option>
                <option value="2">暂存</option>
                <option value="1">借出</option>
                <option value="3">维修</option>
                <option value="0">报废</option>
            </select>
            <input name="equipmentName" id="equipmentNameSearch" size="25"
                   class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 30%;" autocomplete="off" placeholder="查找设备编号"/>
            <input name="equipmentMac" id="equipmentMacSearch" size="25"
                   class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 30%;" autocomplete="off" placeholder="查找设备mac码"/>
            <input name="equipmentSn" id="equipmentSnSearch" size="25" class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 30%;" autocomplete="off" placeholder="查找设备sn码"/>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
            <span>
                操作模式：
                <input type="radio" name="mode" id="adminMode" value="0" checked/>
                <label for="adminMode">-管理</label>
                <input type="radio" name="mode" id="editMode" value="1"/>
                <label for="editMode">-编辑</label>
            </span>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem6-1">设备类型</span>
            <span class="userItem6-1">品牌型号</span>
            <span class="userItem6-1">设备编号</span>
            <span class="userItem6-1">存放地点</span>
            <span class="userItem6">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="equipmentInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							设备编号：<i>*</i>
						</span>
                        <input type="hidden" id="equipmentId" name="equipmentId"/>
                        <span>
							<input type="text" id="equipmentName" name="equipmentName" placeholder="设备编号"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            设备类型：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentType" id="equipmentType" class="form-control" required>
                            </select>
						</span>
                    </div>
                    <div class="formDiv hidden">
                        <span>
                            设备品牌：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentBrand" id="equipmentBrand" class="form-control" required>
                            </select>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            设备型号：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentModel" id="equipmentModel" class="form-control" required>
                            </select>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            设备密级：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentSecrecy" id="equipmentSecrecy" class="form-control" required>
                            </select>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            IP：
                        </span>
                        <span>
							<input type="number" id="ip3" placeholder="127" min="0" max="127" size="3"
                                   autocomplete="off"/>.
							<input type="number" id="ip2" placeholder="0" min="0" max="255" size="3"
                                   autocomplete="off"/>.
                            <input type="number" id="ip1" placeholder="0" min="0" max="255" size="3"
                                   autocomplete="off"/>.
                            <input type="number" id="ip0" placeholder="1" min="0" max="255" size="3"
                                   autocomplete="off"/>
                            <input type="hidden" id="equipmentIp" name="equipmentIp"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
						<span>
                            mac码：<i>*</i>
                        </span>
                        <span>
							<input type="text" id="equipmentMac" name="equipmentMac" placeholder="设备mac码"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            sn码：<i>*</i>
                        </span>
                        <span>
                            <input type="text" id="equipmentSn" name="equipmentSn" placeholder="设备sn码"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            入库原因：<i>*</i>
                        </span>
                        <span>
                            <select name="equipmentRegistrationReason" id="equipmentRegistrationReason"
                                    class="form-control" required>
                            </select>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            入库日期：<i>*</i>
                        </span>
                        <span>
                            <input type="date" id="equipmentRegistrationDate" name="equipmentRegistrationDate"
                                   placeholder="设备入库日期"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            入库备注：
                        </span>
                        <span>
                            <input type="text" id="equipmentRegistrationNote" name="equipmentRegistrationNote"
                                   placeholder="设备入库来源备注"
                                   class="form-control placeholder-no-fix" autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            备注：
                        </span>
                        <span>
                            <textarea id="equipmentNote" name="equipmentNote" placeholder="备注"
                                      class="form-control placeholder-no-fix" autocomplete="off">
                            </textarea>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveEquipment" type="button" class="btn blue">保存</button>
            <button id="closeEquipment" type="button" class="btn gray">取消</button>
        </div>
    </div>
    <div id="equipmentLog" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备管理信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentLogForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
                        <span id="eT"></span>
                        <input type="hidden" id="logEquipment" name="logEquipment"/>
                        <span id="eBM"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>编号：</span>
                        <span id="eN"></span>
                    </div>
                    <div class="formDiv">
                        <span>状态：</span>
                        <span id="eSt"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv" id="eMDiv">
                        <span>mac：</span>
                        <span id="eM"></span>
                    </div>
                    <div class="formDiv" id="eSnDiv">
                        <span>sn：</span>
                        <span id="eSn"></span>
                    </div>
                    <div class="formDiv" id="eScDiv">
                        <span>密级：</span>
                        <span id="eSc"></span>
                    </div>
                </div>
                <div class="formLine">
                    <button id="lendEquipment" type="button" class="btn blue" onclick="addLog('0')">借出</button>
                    <button id="returnEquipment" type="button" class="btn blue" onclick="addLog('1')">归还</button>
                    <button id="repairEquipment" type="button" class="btn yellow" onclick="addLog('2')">报修</button>
                    <button id="abandonEquipment" type="button" class="btn red" onclick="addLog('3')">报废</button>
                    <button id="moveEquipment" type="button" class="btn green" onclick="addLog('4')">迁移</button>
                </div>
                <div class="formLine addLog">
                    <div class="formDiv">
                        <span id="targetName"><i>*</i></span>
                        <span>
                            <input type="hidden" id="logStatus" name="logStatus"/>
							<input type="text" id="logTarget" name="logTarget" placeholder=""
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            日期：<i>*</i>
                        </span>
                        <span>
                            <input type="date" id="logOperationDate" name="logOperationDate" placeholder="日期"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            经手人：
                        </span>
                        <span id="logUser"></span>
                    </div>
                </div>
                <div class="formLine addLog">
                    <button id="saveLog" type="button" class="btn blue">确定</button>
                    <button id="cancelLog" type="button" class="btn blue">取消</button>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="closeEquipmentLog" type="button" class="btn gray">关闭</button>
        </div>
    </div>

    <script type="text/javascript">
        const equipmentStatusCode = ['报废', '借出', '暂存', '维修'];

        var mode = 0;

        $('#searchBut').click(function () {
            search(1);
        });

        $('#createBut').click(function () {
            edit(0);
        });

        function search(pageNum) {
            const url = 'equipment/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 25,
                    'equipmentType': $("#equipmentTypeSearch").val(),
                    'equipmentBrand': $("#equipmentBrandSearch").val(),
                    'equipmentModel': $("#equipmentModelSearch").val(),
                    'equipmentStatus': $("#equipmentStatusSearch").val(),
                    'typeName': $("#equipmentNameSearch").val(),
                    'equipmentMac': $("#equipmentMacSearch").val(),
                    'equipmentSn': $("#equipmentSnSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        $("#searchResult").append('<div class="userRow"><span class="userItem6-1">'
                            + n.equipmentType
                            + '</span><span class="userItem6-1">'
                            + n.equipmentBrand + '&emsp;' + n.equipmentModel
                            + '</span><span class="userItem6-1">'
                            + n.logTarget
                            + '</span><span class="userItem6"><button type="button" class="btn blue" onclick="edit(\''
                            + n.equipmentId
                            + '\')">管理</button></span></div>');
                    });
                });
        }

        function edit(equipmentId) {
            if (equipmentId == 0) {
                formInit(0);
                dialogueOpen("equipmentInfo");
            } else if (mode == 1) {
                formInit(0);
                const url = 'equipment/info';
                $.getJSON(url, {
                    'equipmentId': equipmentId
                }, function (data) {
                    $("#equipmentId").val(data.equipmentId);
                    $("#equipmentType").val(data.equipmentType);
                    $("input[name='typeBrand'][value='" + data.typeBrand + "']").click();
                    if (data.typeBrand) {
                        $("#typeModelTrue").attr("disabled", false);
                    } else {
                        $("#typeModelTrue").attr("disabled", true);
                    }
                    $("input[name='typeModel'][value='" + data.typeModel + "']").click();
                    $("input[name='typeSecrecy'][value='" + data.typeSecrecy + "']").click();
                    $("input[name='typeIp'][value='" + data.typeIp + "']").click();
                    $("input[name='typeMac'][value='" + data.typeMac + "']").click();
                    $("input[name='typeSn'][value='" + data.typeSn + "']").click();
                });
                dialogueOpen("equipmentInfo");
            } else if (mode == 0) {
                formInit(1);
                const url = 'equipment/admin';
                $.getJSON(url, {
                    'equipmentId': equipmentId
                }, function (data) {
                    $("input[name='typeBrand'][value='" + data.typeBrand + "']").click();
                    if (data.typeBrand) {
                        $("#typeModelTrue").attr("disabled", false);
                    } else {
                        $("#typeModelTrue").attr("disabled", true);
                    }
                    $("input[name='typeModel'][value='" + data.typeModel + "']").click();
                    $("input[name='typeSecrecy'][value='" + data.typeSecrecy + "']").click();
                    $("input[name='typeIp'][value='" + data.typeIp + "']").click();
                    $("input[name='typeMac'][value='" + data.typeMac + "']").click();
                    $("input[name='typeSn'][value='" + data.typeSn + "']").click();
                });
                dialogueOpen("equipmentInfo");
            }
        }

        $(".dialogueClose").click(function (target) {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeEquipmentType").click(function (target) {
            dialogueClose("equipmentTypeInfo");
        });

        $("#saveEquipmentType").click(function (target) {
            $("form#equipmentTypeForm").submit();
        });

        $(function () {
            $("form#equipmentTypeForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/type/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("equipmentTypeInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        function formInit(num) {
            if ("0" === num) {
                $("#equipmentForm").resetForm();
                let target = $("#equipmentBrand");
                target.parent().parent().hide();
                target.attr("disabled", true);
                target = $("#equipmentModel");
                target.parent().parent().hide();
                target.attr("disabled", true);
                target = $("#equipmentSecrecy");
                target.parent().parent().hide();
                target.attr("disabled", true);
                target = $("#equipmentIp");
                target.parent().parent().hide();
                target.attr("disabled", true);
                target = $("#equipmentMac");
                target.parent().parent().hide();
                target.attr("disabled", true);
                target = $("#equipmentSn");
                target.parent().parent().hide();
                target.attr("disabled", true);
            } else if ("1" === num) {

            }
        }

        $(function () {
            search(1);
            $("#index-page-title").html("设备类型管理");
            $("#current-page-title").html("设备类型管理");
        });
    </script>
</div>