<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <select name="equipmentType" id="equipmentTypeSearch" class="form-control"
                    style="width: 24%; display: inline-block;">
                <option value="0" selected>所有设备类型</option>
            </select>
            <select name="equipmentBrand" id="equipmentBrandSearch" class="form-control"
                    style="width: 24%; display: inline-block;">
                <option value="0" selected>所有设备品牌</option>
            </select>
            <select name="equipmentModel" id="equipmentModelSearch" class="form-control"
                    style="width: 24%; display: inline-block;">
                <option value="0" selected>所有设备型号</option>
            </select>
            <select name="equipmentStatus" id="equipmentStatusSearch" class="form-control"
                    style="width: 24%; display: inline-block;">
                <option value="5" selected>所有</option>
                <option value="2">暂存</option>
                <option value="1">借出</option>
                <option value="3">维修</option>
                <option value="0">报废</option>
                <option value="4">调拨</option>
            </select>
            <input name="equipmentName" id="equipmentNameSearch" size="25"
                   class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 32%;" autocomplete="off" placeholder="查找设备编号"/>
            <input name="equipmentMac" id="equipmentMacSearch" size="25"
                   class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 32%;" autocomplete="off" placeholder="查找设备mac码"/>
            <input name="equipmentSn" id="equipmentSnSearch" size="25" class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 32%;" autocomplete="off" placeholder="查找设备sn码"/>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
            <span>
                操作模式：
                <input type="radio" name="mode" id="adminMode" value="0" checked/>
                <label for="adminMode">-管理</label>
                <input type="radio" name="mode" id="editMode" value="1"/>
                <label for="editMode">-编辑</label>
            </span>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem6-1">设备类型</span>
            <span class="userItem6-1">品牌型号</span>
            <span class="userItem6-1">设备编号</span>
            <span class="userItem6-1">存放地点</span>
            <span class="userItem6">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="equipmentInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							设备编号：<i>*</i>
						</span>
                        <input type="hidden" id="equipmentId" name="equipmentId"/>
                        <span>
							<input type="text" id="equipmentName" name="equipmentName" placeholder="设备编号"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            设备类型：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentType" id="equipmentType" class="form-control" required>
                                <option value="0" selected>---请选择---</option>
                            </select>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            设备品牌：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentBrand" id="equipmentBrand" class="form-control" required>
                                <option value="0" selected>---请选择---</option>
                            </select>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            设备型号：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentModel" id="equipmentModel" class="form-control" required>
                                <option value="0" selected>---请选择---</option>
                            </select>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            设备密级：<i>*</i>
                        </span>
                        <span>
							<select name="equipmentSecrecy" id="equipmentSecrecy" class="form-control" required>
                                <option value="0" selected>---请选择---</option>
                            </select>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            IP：
                        </span>
                        <span>
							<input type="number" id="ip3" placeholder="127" min="0" max="127" size="3"
                                   autocomplete="off"/>.
							<input type="number" id="ip2" placeholder="0" min="0" max="255" size="3"
                                   autocomplete="off"/>.
                            <input type="number" id="ip1" placeholder="0" min="0" max="255" size="3"
                                   autocomplete="off"/>.
                            <input type="number" id="ip0" placeholder="1" min="0" max="255" size="3"
                                   autocomplete="off"/>
                            <input type="hidden" id="equipmentIp" name="equipmentIp"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
						<span>
                            mac码：<i>*</i>
                        </span>
                        <span>
							<input type="text" id="equipmentMac" name="equipmentMac" placeholder="设备mac码"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            sn码：<i>*</i>
                        </span>
                        <span>
                            <input type="text" id="equipmentSn" name="equipmentSn" placeholder="设备sn码"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            入库原因：<i>*</i>
                        </span>
                        <span>
                            <select name="equipmentRegistrationReason" id="equipmentRegistrationReason"
                                    class="form-control" required>
                                <option value="0" selected>---请选择---</option>
                            </select>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            入库日期：<i>*</i>
                        </span>
                        <span>
                            <input type="date" id="equipmentRegistrationDate" name="equipmentRegistrationDate"
                                   placeholder="设备入库日期"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            入库备注：<i>*</i>
                        </span>
                        <span>
                            <input type="text" id="equipmentRegistrationNote" name="equipmentRegistrationNote"
                                   placeholder="设备入库来源备注"
                                   class="form-control placeholder-no-fix" required autocomplete="on"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            备注：
                        </span>
                        <span>
                            <textarea id="equipmentNote" name="equipmentNote" placeholder="备注"
                                      class="form-control placeholder-no-fix" autocomplete="off"></textarea>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveEquipment" type="button" class="btn blue">保存</button>
            <button id="closeEquipment" type="button" class="btn gray">取消</button>
        </div>
    </div>
    <div id="equipmentLog" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备管理信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentLogForm" class="needs-validation infoForm">
                <div class="formLine">
                    <div class="formDiv">
                        <span class="bold">编号：</span>
                        <span id="eN" class="align-left"></span>
                        <input type="hidden" id="logEquipment" name="logEquipment"/>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span class="bold">分类：</span>
                        <span id="eT" class="align-left overflow-hidden"></span>
                    </div>
                    <div class="formDiv">
                        <span class="bold">型号：</span>
                        <span id="eBM" class="align-left overflow-hidden"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span class="bold">状态：</span>
                        <span id="eSt" class="align-left"></span>
                    </div>
                    <div class="formDiv">
                        <span class="bold">所在：</span>
                        <span id="eLt" class="align-left overflow-hidden"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span class="bold">入库信息：</span>
                        <span id="eRr" class="align-left overflow-hidden"></span>
                    </div>
                    <div class="formDiv">
                        <span class="bold">密级：</span>
                        <span id="eSc" class="align-left"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span class="bold">mac：</span>
                        <span id="eM" class="align-left overflow-hidden"></span>
                    </div>
                    <div class="formDiv">
                        <span class="bold">sn：</span>
                        <span id="eSn" class="align-left overflow-hidden"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span class="bold">操作：</span>
                        <span class="align-left overflow-hidden">
                            <button id="lendEquipment" type="button" class="btn blue" onclick="addLog(0)">借出</button>
                            <button id="returnEquipment" type="button" class="btn blue" onclick="addLog(1)">归还</button>
                            <button id="repairEquipment" type="button" class="btn yellow"
                                    onclick="addLog(2)">报修</button>
                            <button id="abandonEquipment" type="button" class="btn red" onclick="addLog(3)">报废</button>
                            <button id="moveEquipment" type="button" class="btn green" onclick="addLog(4)">存放</button>
                            <button id="giveEquipment" type="button" class="btn green" onclick="addLog(5)">调拨</button>
                            <button id="deleteEquipment" type="button" class="btn red">销毁</button>
                        </span>
                    </div>
                </div>
                <div class="formLine addLog">
                    <div class="formDiv">
                        <span id="targetName"></span>
                        <span class="bold">
                            <input type="hidden" id="logStatus" name="logStatus"/>
							<input type="text" id="logTarget" name="logTarget" placeholder=""
                                   class="form-control placeholder-no-fix" required autocomplete="on"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span class="bold">
                            日期：<i>*</i>
                        </span>
                        <span>
                            <input type="date" id="logOperationDate" name="logOperationDate" placeholder="日期"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine addLog">
                    <div class="formDiv">
                        <span class="bold">
                            经手人：<i>*</i>
                        </span>
                        <span id="logUser"></span>
                    </div>
                </div>
                <div class="formLine addLog">
                    <div class="formDiv">
                        <span class="bold">操作：</span>
                        <span class="align-left overflow-hidden">
                            <button id="saveLog" type="button" class="btn blue">确定</button>
                            <button id="cancelLog" type="button" class="btn grey">取消</button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="closeEquipmentLog" type="button" class="btn gray">关闭</button>
        </div>
    </div>

    <script type="text/javascript">
        const equipmentStatusCode = ['报废', '借出', '暂存', '维修', '调拨'];

        const logStatusCode = ['借出', '归还', '报修', '报废', '存放', '调拨'];

        let mode = 0;

        let typeList;

        let registrationReasonList;

        $(":radio[name='mode']").click(function () {
            mode = $(this).val();
            if (mode == 0) {
                $("#searchResult button").html('管理');
            } else {
                $("#searchResult button").html('修改');
            }

        })

        $('#searchBut').click(function () {
            search(1);
        });

        $('#createBut').click(function () {
            edit(0);
        });

        function search(pageNum) {
            const url = 'equipment/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 25,
                    'equipmentType': $("#equipmentTypeSearch").val(),
                    'equipmentBrand': $("#equipmentBrandSearch").val(),
                    'equipmentModel': $("#equipmentModelSearch").val(),
                    'equipmentStatus': $("#equipmentStatusSearch").val(),
                    'equipmentName': $("#equipmentNameSearch").val(),
                    'equipmentMac': $("#equipmentMacSearch").val(),
                    'equipmentSn': $("#equipmentSnSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        $("#searchResult").append('<div class="userRow"><span class="userItem6-1">'
                            + n.typeName
                            + '</span><span class="userItem6-1">'
                            + n.brandName + '&emsp;' + n.modelName
                            + '</span><span class="userItem6-1">'
                            + n.equipmentName
                            + '</span><span class="userItem6-1">'
                            + (n.equipmentStatus == null ? "入库待定" : equipmentStatusCode[n.equipmentStatus]) + nullToUnsure(n.logs.length === 0 ? null : "：" + n.logs[0].logTarget)
                            + '</span><span class="userItem6"><button type="button" class="btn blue" onclick="edit(\''
                            + n.equipmentId
                            + '\')">' + (mode == 0 ? '管理' : '修改') + '</button></span></div>');
                    });
                });
        }

        function edit(equipmentId) {
            if (equipmentId == 0) {
                formInit(0);
                dialogueOpen("equipmentInfo");
            } else if (mode == 1) {
                formInit(0);
                const url = 'equipment/info';
                $.getJSON(url, {
                    'equipmentId': equipmentId
                }, function (data) {
                    $("#equipmentName").val(data.equipmentName);
                    $("#equipmentId").val(data.equipmentId);
                    $("#equipmentType").val(data.equipmentType).change();
                    $("#equipmentBrand").val(data.equipmentBrand).change();
                    $("#equipmentModel").val(data.equipmentModel);
                    $("#equipmentSecrecy").val(data.equipmentSecrecy);
                    numToIp(data.equipmentIp, $("#ip0"), $("#ip1"), $("#ip2"), $("#ip3"));
                    $("#equipmentMac").val(data.equipmentMac);
                    $("#equipmentSn").val(data.equipmentSn);
                    $("#equipmentRegistrationReason").val(data.equipmentRegistrationReason).change();
                    $("#equipmentRegistrationDate").val(new Date(data.equipmentRegistrationDate).format("yyyy-MM-dd"));
                    $("#equipmentRegistrationNote").val(data.equipmentRegistrationNote);
                });
                dialogueOpen("equipmentInfo");
            } else if (mode == 0) {
                formInit(1);
                const url = 'equipment/admin';
                $.getJSON(url, {
                    'equipmentId': equipmentId
                }, function (data) {
                    $("#eT").html(data.typeName);
                    logTypeConfig(data.equipmentType);
                    $("#eBM").html(data.brandName + "&emsp;" + data.modelName);
                    $("#eN").html(data.equipmentName);
                    $("#eSt").html(data.equipmentStatus == null ? "入库待定" : equipmentStatusCode[data.equipmentStatus]);
                    $("#eM").html(data.equipmentMac);
                    $("#eSn").html(data.equipmentSn);
                    $("#eSc").html(data.secrecyName);
                    $("#eRr").html(new Date(data.equipmentRegistrationDate).format("yyyy-MM-dd") + "&emsp;" + data.registrationReasonName + "（" + data.equipmentRegistrationNote + "）")
                    $("#logEquipment").val(data.equipmentId);
                    initLogButton(data.equipmentStatus);
                    if (data.logs.length > 0) {
                        $("#eLt").html(nullToUnsure(data.logs[0].logTarget));
                        logList(data.logs);
                    } else {
                        $("#eLt").html("待定");
                    }
                });
                dialogueOpen("equipmentLog");
            }
        }

        $(".dialogueClose").click(function () {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeEquipment").click(function () {
            dialogueClose("equipmentInfo");
        });

        $("#saveEquipment").click(function () {
            $("form#equipmentForm").submit();
        });

        $("#closeEquipmentLog").click(function () {
            dialogueClose("equipmentLog");
        });

        $(function () {
            $("form#equipmentForm.needs-validation").validate({
                submitHandler: function (form) {
                    $("#equipmentIp").val(ipToNum($("#ip0").val(), $("#ip1").val(), $("#ip2").val(), $("#ip3").val()));
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("equipmentInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                },
                rules: {
                    "equipmentName": {
                      remote: {
                          url: "equipment/checkEquipmentName",     //后台处理程序
                          type: "get",               //数据发送方式
                          dataType: "json",           //接受数据格式
                          data: {                     //要传递的数据
                              equipmentName: function () {
                                  return $("#equipmentName").val();
                              },
                              equipmentId: function () {
                                  return $("#equipmentId").val();
                              }
                          }
                      }
                    },
                    "equipmentType": {
                        notEqual: "0"
                    },
                    "equipmentBrand": {
                        notEqual: "0"
                    },
                    "equipmentModel": {
                        notEqual: "0"
                    },
                    "equipmentSecrecy": {
                        notEqual: "0"
                    },
                    "equipmentRegistrationReason": {
                        notEqual: "0"
                    }
                },
                messages: {
                    "equipmentName": {
                        remote: "设备编号已存在"
                    },
                    "equipmentType": {
                        notEqual: "请选择"
                    },
                    "equipmentBrand": {
                        notEqual: "请选择"
                    },
                    "equipmentModel": {
                        notEqual: "请选择"
                    },
                    "equipmentSecrecy": {
                        notEqual: "请选择"
                    },
                    "equipmentRegistrationReason": {
                        notEqual: "请选择"
                    }
                }
            });
        });

        function getTypeList() {
            const url = 'equipment/type/list';
            $.getJSON(url, {
                'typeBrand': false,
                'typeModel': false
            }, function (data) {
                typeList = data;
                $.each(data, function (i, n) {
                    let str = "<option value='" + n.typeId + "'>" + n.typeName + "</option>";
                    $("#equipmentTypeSearch").append(str);
                    $("#equipmentType").append(str);
                });
            });
        }

        function getBrandSearchList(index) {
            $.each(typeList[index].brands, function (i, n) {
                let str = "<option value='" + n.brandId + "'>" + n.brandName + "</option>";
                $("#equipmentBrandSearch").append(str);
            });
        }

        function getModelSearchList(index0, index1) {
            if (typeList[index0].brands.length != 0) {
                $.each(typeList[index0].brands[index1].models, function (i, n) {
                    let str = "<option value='" + n.modelId + "'>" + n.modelName + "</option>";
                    $("#equipmentModelSearch").append(str);
                });
            }
        }

        function getSecrecyList() {
            const url = 'equipment/secrecy/list';
            $.getJSON(url, function (data) {
                $.each(data, function (i, n) {
                    let str = "<option value='" + n.secrecyId + "'>" + n.secrecyName + "</option>";
                    $("#equipmentSecrecySearch").append(str);
                    $("#equipmentSecrecy").append(str);
                });
            });
        }

        function getRegistrationReasonList() {
            const url = 'equipment/registrationReason/list';
            $.getJSON(url, function (data) {
                registrationReasonList = data;
                $.each(data, function (i, n) {
                    let str = "<option value='" + n.registrationReasonId + "'>" + n.registrationReasonName + "</option>";
                    $("#equipmentRegistrationReasonSearch").append(str);
                    $("#equipmentRegistrationReason").append(str);
                });
                registrationReasonConfig($("#equipmentRegistrationReason").val());
            });
        }

        function getBrandList(index) {
            $.each(typeList[index].brands, function (i, n) {
                let str = "<option value='" + n.brandId + "'>" + n.brandName + "</option>";
                $("#equipmentBrand").append(str);
            });
        }

        function getModelList(index0, index1) {
            if (typeList[index0].brands.length != 0) {
                $.each(typeList[index0].brands[index1].models, function (i, n) {
                    let str = "<option value='" + n.modelId + "'>" + n.modelName + "</option>";
                    $("#equipmentModel").append(str);
                });
            }
        }

        $("#equipmentTypeSearch").change(function () {
            $("#equipmentBrandSearch").val(0).change();
            $("#equipmentBrandSearch option[value='0']").nextAll().remove();
            if ($("#equipmentTypeSearch").val() != "0") {
                getBrandSearchList(this.selectedIndex - 1);
            }
        });

        $("#equipmentType").change(function () {
            $("#equipmentBrand").val(0).change();
            $("#equipmentBrand option[value='0']").nextAll().remove();
            if ($(this).val() == '0') {
                formInit(0);
            } else {
                typeConfig(this.selectedIndex - 1);
            }
        });

        function typeConfig(index) {
            const currentType = typeList[index];
            let target = $("#equipmentBrand");
            if (currentType.typeBrand) {
                getBrandList(index);
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
            target = $("#equipmentModel");
            if (currentType.typeModel) {
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
            target = $("#equipmentSecrecy");
            if (currentType.typeSecrecy) {
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
            target = $("#equipmentIp");
            if (currentType.typeIp) {
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
            target = $("#equipmentMac");
            if (currentType.typeMac) {
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
            target = $("#equipmentSn");
            if (currentType.typeSn) {
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
        }

        function logTypeConfig(typeId) {
            let currentType;
            $.each(typeList, function (i, n) {
                if (n.typeId == typeId) {
                    currentType = n;
                }
            });
            let target = $("#eBM");
            if (currentType.typeBrand) {
                target.parent().show();
            } else {
                target.parent().hide();
            }
            target = $("#eSc");
            if (currentType.typeSecrecy) {
                target.parent().show();
            } else {
                target.parent().hide();
            }
            target = $("#eM");
            if (currentType.typeMac) {
                target.parent().show();
            } else {
                target.parent().hide();
            }
            target = $("#eSn");
            if (currentType.typeSn) {
                target.parent().show();
            } else {
                target.parent().hide();
            }
        }

        $("#equipmentRegistrationReason").change(function () {
            registrationReasonConfig(this.selectedIndex - 1);
        });

        function registrationReasonConfig(index) {
            const currentRegistrationReason = registrationReasonList[index];
            let target = $("#equipmentRegistrationNote");
            if (currentRegistrationReason.registrationReasonNote) {
                target.attr("disabled", false).parent().parent().show();
            } else {
                target.attr("disabled", true).parent().parent().hide();
            }
        }

        $("#equipmentBrandSearch").change(function () {
            $("#equipmentModelSearch").val(0);
            $("#equipmentModelSearch option[value='0']").nextAll().remove();
            if ($("#equipmentBrandSearch").val() != "0") {
                getModelSearchList($("#equipmentTypeSearch")[0].selectedIndex - 1, this.selectedIndex - 1);
            }
        });

        $("#equipmentBrand").change(function () {
            $("#equipmentModel").val(0);
            $("#equipmentModel option[value='0']").nextAll().remove();
            if ($("#equipmentBrand").val() != "0") {
                getModelList($("#equipmentType")[0].selectedIndex - 1, this.selectedIndex - 1);
            }
        });

        function formInit(num) {
            if ("0" == num) {
                $("#equipmentForm").resetForm();
                let target = $("#equipmentBrand");
                target.attr("disabled", true).parent().parent().hide();
                target = $("#equipmentModel");
                target.attr("disabled", true).parent().parent().hide();
                target = $("#equipmentSecrecy");
                target.attr("disabled", true).parent().parent().hide();
                target = $("#equipmentIp");
                target.attr("disabled", true).parent().parent().hide();
                target = $("#equipmentMac");
                target.attr("disabled", true).parent().parent().hide();
                target = $("#equipmentSn");
                target.attr("disabled", true).parent().parent().hide();
            } else if ("1" == num) {
                $("#equipmentLogForm").resetForm();
                $("#eT").html("");
                $("#eBM").html("");
                $("#eN").html("");
                $("#eSt").html("");
                $("#eM").html("");
                $("#eSn").html("");
                $("#eSc").html("");
                $(".addLog").hide().last().nextAll().remove();
            }
        }

        function initLogButton(equipmentStatus) {
            if (equipmentStatus == null) {
                $("#lendEquipment").show();
                $("#returnEquipment").hide();
                $("#repairEquipment").show();
                $("#abandonEquipment").hide();
                $("#moveEquipment").show();
                $("#deleteEquipment").hide();
                $("#giveEquipment").show();
            } else if (equipmentStatus === 0) {
                $("#lendEquipment").hide();
                $("#returnEquipment").hide();
                $("#repairEquipment").hide();
                $("#abandonEquipment").hide();
                $("#moveEquipment").show();
                $("#deleteEquipment").show();
                $("#giveEquipment").hide();
            } else if (equipmentStatus === 1) {
                $("#lendEquipment").hide();
                $("#returnEquipment").show();
                $("#repairEquipment").show();
                $("#abandonEquipment").show();
                $("#moveEquipment").hide();
                $("#deleteEquipment").hide();
                $("#giveEquipment").hide();
            } else if (equipmentStatus === 2 || equipmentStatus === 3) {
                $("#lendEquipment").show();
                $("#returnEquipment").hide();
                $("#repairEquipment").show();
                $("#abandonEquipment").show();
                $("#moveEquipment").show();
                $("#deleteEquipment").hide();
                $("#giveEquipment").show();
            } else if (equipmentStatus === 4) {
                $("#lendEquipment").hide();
                $("#returnEquipment").hide();
                $("#repairEquipment").hide();
                $("#abandonEquipment").hide();
                $("#moveEquipment").hide();
                $("#deleteEquipment").hide();
                $("#giveEquipment").hide();
            }
        }

        function userInit() {
            const url = 'user/me';
            $.getJSON(url, function (data) {
                $("#logUser").html(data.userName);
            });
        }

        function addLog(num) {
            $("#logStatus").val(num);
            if (num == 0) {
                $("#targetName").parent().show();
                $("#targetName").html("借出人：<i>*</i>");
                $("#logTarget").val("");
                $("#logTarget").attr("disabled", false);
                $("#logOperationDate").val("");
            } else if (num == 1 || num == 3 || num == 4) {
                $("#targetName").parent().show();
                $("#targetName").html("存放地：<i>*</i>");
                $("#logTarget").val("");
                $("#logTarget").attr("disabled", false);
                $("#logOperationDate").val("");
            } else if (num == 5) {
                $("#targetName").parent().show();
                $("#targetName").html("接收方：<i>*</i>");
                $("#logTarget").val("");
                $("#logTarget").attr("disabled", false);
                $("#logOperationDate").val("");
            } else if (num == 2) {
                $("#targetName").parent().hide();
                $("#logTarget").val("");
                $("#logTarget").attr("disabled", true);
                $("#logOperationDate").val("");
            }
            $(".addLog").show();
        }

        $("#deleteEquipment").click(function () {
            layer.confirm('确认销毁？', {
                btn: ['确认', '取消']
            }, function () {
                const url = 'equipment/log/delete';
                $.getJSON(url, {
                    'equipmentId': $("#logEquipment").val()
                }, function (result) {
                    dialogueClose("equipmentLog");
                    search(1);
                    layer.msg(result.content, {
                        time: 2000
                    });
                });
                layer.close(layer.index);
            },);
        });

        function logList(logs) {
            $.each(logs, function (i, n) {
                let str = "<div class='formLine'><div class='formDiv'><span class='bold'>"
                    + logStatusCode[n.logStatus] + "："
                    + "</span><span>"
                    + "日期：&emsp;" + new Date(n.logOperationDate).format("yyyy-MM-dd") + "<br>"
                    + (n.logStatus == 0 ? "借出人：" + n.logTarget : (n.logStatus == 2 ? "" : (n.logStatus == 5 ? "接收方：" + n.logTarget : "存放地：" + n.logTarget))) + "<br>"
                    + "经手人：" + n.userName
                    + "</span></div></div>";
                $("#equipmentLogForm").append(str);
            });
        }

        $("#saveLog").click(function () {
            $("form#equipmentLogForm").submit();
            $(".addLog").hide();
        });

        $(function () {
            $("form#equipmentLogForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/log/save",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            search(1);
                            edit($("#logEquipment").val());
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        $("#cancelLog").click(function () {
            $(".addLog").hide();
        });

        $(function () {
            search(1);
            getTypeList();
            getSecrecyList();
            getRegistrationReasonList();
            userInit();
            $("#index-page-title").html("设备管理");
            $("#current-page-title").html("设备管理");
        });
    </script>
</div>