<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <input name="registrationReasonName" id="registrationReasonNameSearch" size="25" class="form-control placeholder-no-fix searchBox"
                   type="text" autocomplete="off" placeholder="查找设备入库原由"/>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem7">设备入库原由</span>
            <span class="userItem6">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="registrationReasonInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备入库原由信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="registrationReasonForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							入库原由：<i>*</i>
						</span>
                        <input type="hidden" id="registrationReasonId" name="registrationReasonId"/>
                        <span>
							<input type="text" id="registrationReasonName" name="registrationReasonName" placeholder="设备入库原由"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            需要备注：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="registrationReasonNoteTrue" name="registrationReasonNote" placeholder="是"
                                   class="" required autocomplete="off" value="true"/>-是&emsp;&emsp;
                            <input type="radio" id="registrationReasonNoteFalse" name="registrationReasonNote" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveRegistrationReason" type="button" class="btn blue">保存</button>
            <button id="closeRegistrationReason" type="button" class="btn gray">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        $('#searchBut').click(function () {
            search(1);
        });

        $('#createBut').click(function () {
            edit(0);
        });

        function search(pageNum) {
            const url = 'equipment/registrationReason/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 13,
                    'registrationReasonName': $("#registrationReasonNameSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        $("#searchResult").append('<div class="userRow"><span class="userItem7">'
                            + n.registrationReasonName
                            + '</span><span class="userItem6"><button type="button" class="btn blue" onclick="edit(\''
                            + n.registrationReasonId
                            + '\')">修改</button></span></div>');
                    });
                });
        }

        function edit(registrationReasonId) {
            if (registrationReasonId == 0) {
                $("#registrationReasonForm").resetForm();
            } else {
                $("#registrationReasonForm").resetForm();
                const url = 'equipment/registrationReason/info';
                $.getJSON(url, {
                    'registrationReasonId': registrationReasonId
                }, function (data) {
                    $("#registrationReasonId").val(data.registrationReasonId);
                    $("#registrationReasonName").val(data.registrationReasonName);
                    $("input[name='registrationReasonNote'][value='" + data.registrationReasonNote + "']").click();
                });
            }
            dialogueOpen("registrationReasonInfo");
        }

        $(".dialogueClose").click(function () {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeRegistrationReason").click(function () {
            dialogueClose("registrationReasonInfo");
        });

        $("#saveRegistrationReason").click(function () {
            $("form#registrationReasonForm").submit();
        });

        $(function () {
            $("form#registrationReasonForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/registrationReason/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("registrationReasonInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        $(function () {
            search(1);
            $("#index-page-title").html("设备入库原由管理");
            $("#current-page-title").html("设备入库原由管理");
        });
    </script>
</div>