<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <input name="secrecyName" id="secrecyNameSearch" size="25" class="form-control placeholder-no-fix searchBox"
                   type="text" autocomplete="off" placeholder="查找设备密级"/>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem7">设备密级</span>
            <span class="userItem6">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="equipmentSecrecyInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备密级信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentSecrecyForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							设备密级：<i>*</i>
						</span>
                        <input type="hidden" id="secrecyId" name="secrecyId"/>
                        <span>
							<input type="text" id="secrecyName" name="secrecyName" placeholder="设备密级"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            IP范围：<i>*</i>
                        </span>
                        <span>
                            <input type="number" id="ipMin3" placeholder="0" min="0" max="255" size="3" required autocomplete="off"/>.
							<input type="number" id="ipMin2" placeholder="0" min="0" max="255" size="3" required autocomplete="off"/>.
                            <input type="number" id="ipMin1" placeholder="0" min="0" max="255" size="3" required autocomplete="off"/>.
                            <input type="number" id="ipMin0" placeholder="0" min="0" max="255" size="3" required autocomplete="off"/>
                            <input type="hidden" id="ipMin" name="ipMin"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>
                            到：<i>*</i>
                        </span>
                        <span>
							<input type="number" id="ipMax3" placeholder="255" min="0" max="255" size="3" required autocomplete="off"/>.
							<input type="number" id="ipMax2" placeholder="255" min="0" max="255" size="3" required autocomplete="off"/>.
                            <input type="number" id="ipMax1" placeholder="255" min="0" max="255" size="3" required autocomplete="off"/>.
                            <input type="number" id="ipMax0" placeholder="255" min="0" max="255" size="3" required autocomplete="off"/>
                            <input type="hidden" id="ipMax" name="ipMax"/>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveEquipmentSecrecy" type="button" class="btn blue">保存</button>
            <button id="closeEquipmentSecrecy" type="button" class="btn gray">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        $('#searchBut').click(function () {
            search(1);
        });

        $('#createBut').click(function () {
            edit(0);
        });

        function search(pageNum) {
            const url = 'equipment/secrecy/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 25,
                    'secrecyName': $("#secrecyNameSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        $("#searchResult").append('<div class="userRow"><span class="userItem7">'
                            + n.secrecyName
                            + '</span><span class="userItem6"><button type="button" class="btn blue" onclick="edit(\''
                            + n.secrecyId
                            + '\')">修改</button></span></div>');
                    });
                });
        }

        function edit(secrecyId) {
            if (secrecyId == 0) {
                $("#equipmentSecrecyForm").resetForm();
            } else {
                $("#equipmentSecrecyForm").resetForm();
                const url = 'equipment/secrecy/info';
                $.getJSON(url, {
                    'secrecyId': secrecyId
                }, function (data) {
                    $("#secrecyId").val(data.secrecyId);
                    $("#secrecyName").val(data.secrecyName);
                    numToIp(data.ipMin, $("#ipMin0"), $("#ipMin1"), $("#ipMin2"), $("#ipMin3"));
                    numToIp(data.ipMax, $("#ipMax0"), $("#ipMax1"), $("#ipMax2"), $("#ipMax3"));
                });
            }
            dialogueOpen("equipmentSecrecyInfo");
        }

        $(".dialogueClose").click(function (target) {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeEquipmentSecrecy").click(function (target) {
            dialogueClose("equipmentSecrecyInfo");
        });

        $("#saveEquipmentSecrecy").click(function (target) {
            $("form#equipmentSecrecyForm").submit();
        });

        $(function () {
            $("form#equipmentSecrecyForm.needs-validation").validate({
                submitHandler: function (form) {
                    $("#ipMin").val(ipToNum($("#ipMin0").val(), $("#ipMin1").val(), $("#ipMin2").val(), $("#ipMin3").val()));
                    $("#ipMax").val(ipToNum($("#ipMax0").val(), $("#ipMax1").val(), $("#ipMax2").val(), $("#ipMax3").val()));
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/secrecy/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("equipmentSecrecyInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        $(function () {
            search(1);
            $("#index-page-title").html("设备密级管理");
            $("#current-page-title").html("设备密级管理");
        });
    </script>
</div>