<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <input name="typeName" id="typeNameSearch" size="25" class="form-control placeholder-no-fix searchBox"
                   type="text" autocomplete="off" placeholder="查找设备类型"/>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem5-1">设备类型</span>
            <span class="userItem5-1">设备数量</span>
            <span class="userItem6">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="equipmentTypeInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>设备类型信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="equipmentTypeForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							设备类型：<i>*</i>
						</span>
                        <input type="hidden" id="typeId" name="typeId"/>
                        <span>
							<input type="text" id="typeName" name="typeName" placeholder="设备类型"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            需要品牌：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="typeBrandTrue" name="typeBrand" placeholder="是"
                                   class="" required autocomplete="off" value="true"/>-是&emsp;&emsp;
                            <input type="radio" id="typeBrandFalse" name="typeBrand" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                    <div class="formDiv">
						<span>
                            需要型号：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="typeModelTrue" name="typeModel" placeholder="是"
                                   class="" required autocomplete="off" value="true" disabled/>-是&emsp;&emsp;
                            <input type="radio" id="typeModelFalse" name="typeModel" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            需要密级：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="typeSecrecyTrue" name="typeSecrecy" placeholder="是"
                                   class="" required autocomplete="off" value="true"/>-是&emsp;&emsp;
                            <input type="radio" id="typeSecrecyFalse" name="typeSecrecy" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                    <div class="formDiv">
						<span>
                            需要IP：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="typeIpTrue" name="typeIp" placeholder="是"
                                   class="" required autocomplete="off" value="true"/>-是&emsp;&emsp;
                            <input type="radio" id="typeIpFalse" name="typeIp" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            需要mac：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="typeMacTrue" name="typeMac" placeholder="是"
                                   class="" required autocomplete="off" value="true"/>-是&emsp;&emsp;
                            <input type="radio" id="typeMacFalse" name="typeMac" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                    <div class="formDiv">
						<span>
                            需要sn码：<i>*</i>
                        </span>
                        <span>
							<input type="radio" id="typeSnTrue" name="typeSn" placeholder="是"
                                   class="" required autocomplete="off" value="true"/>-是&emsp;&emsp;
                            <input type="radio" id="typeSnFalse" name="typeSn" placeholder="否"
                                   class="" required autocomplete="off" value="false"/>-否
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveEquipmentType" type="button" class="btn blue">保存</button>
            <button id="closeEquipmentType" type="button" class="btn gray">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        $('#searchBut').click(function () {
            search(1);
        });

        $(":radio[name='typeBrand'] ").on("click", function(){
            if ($(":radio[name='typeBrand']:checked").val() === 'true') {
                $("#typeModelTrue").attr("disabled", false);
            } else {
                $("#typeModelTrue").attr("disabled", true);
            }
        });

        $('#createBut').click(function () {
            edit(0);
        });

        function search(pageNum) {
            const url = 'equipment/type/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 25,
                    'typeName': $("#typeNameSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        $("#searchResult").append('<div class="userRow"><span class="userItem5-1">'
                            + n.typeName
                            + '</span><span class="userItem5-1">'
                            + nullToZero(n.equipmentCount)
                            + '</span><span class="userItem6"><button type="button" class="btn blue" onclick="edit(\''
                            + n.typeId
                            + '\')">修改</button></span></div>');
                    });
                });
        }

        function edit(typeId) {
            if (typeId == 0) {
                $("#typeModelTrue").attr("disabled", true);
                $("#equipmentTypeForm").resetForm();
            } else {
                $("#equipmentTypeForm").resetForm();
                const url = 'equipment/type/info';
                $.getJSON(url, {
                    'typeId': typeId
                }, function (data) {
                    $("#typeId").val(data.typeId);
                    $("#typeName").val(data.typeName);
                    $("input[name='typeBrand'][value='" + data.typeBrand + "']").click();
                    if (data.typeBrand) {
                        $("#typeModelTrue").attr("disabled", false);
                    } else {
                        $("#typeModelTrue").attr("disabled", true);
                    }
                    $("input[name='typeModel'][value='" + data.typeModel + "']").click();
                    $("input[name='typeSecrecy'][value='" + data.typeSecrecy + "']").click();
                    $("input[name='typeIp'][value='" + data.typeIp + "']").click();
                    $("input[name='typeMac'][value='" + data.typeMac + "']").click();
                    $("input[name='typeSn'][value='" + data.typeSn + "']").click();
                });
            }
            dialogueOpen("equipmentTypeInfo");
        }

        $(".dialogueClose").click(function (target) {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeEquipmentType").click(function (target) {
            dialogueClose("equipmentTypeInfo");
        });

        $("#saveEquipmentType").click(function (target) {
            $("form#equipmentTypeForm").submit();
        });

        $(function () {
            $("form#equipmentTypeForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "equipment/type/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("equipmentTypeInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        $(function () {
            search(1);
            $("#index-page-title").html("设备类型管理");
            $("#current-page-title").html("设备类型管理");
        });
    </script>
</div>