<div class="mainContent">
    <div class="">
        <form action="" method="post">
            <input name="consumableName" id="consumableNameSearch" size="25"
                   class="form-control placeholder-no-fix searchBox"
                   type="text" style="width: 75%;" autocomplete="off" placeholder="查找耗材"/>
            <button id="searchBut" type="button" class="btn blue">查询</button>
            <button id="createBut" type="button" class="btn green">新增</button>
        </form>
    </div>
    <div class="userTable" id="searchResult">
        <div class="userRow userHeader">
            <span class="userItem5-2">耗材</span>
            <span class="userItem6">存量</span>
            <span class="userItem1">操作</span>
        </div>
    </div>
    <div class="pageBox">
        <input type="hidden" id="pageNum"/>
    </div>
    <div class="mask"></div>
    <div id="consumableInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>耗材信息</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="consumableForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							耗材名：<i>*</i>
						</span>
                        <span>
							<input type="text" id="consumableName" name="consumableName" placeholder="耗材名"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                    <div class="formDiv">
						<span>
							耗材单位：<i>*</i>
						</span>
                        <span>
							<input type="text" id="consumableUnit" name="consumableUnit" placeholder="耗材单位"
                                   class="form-control placeholder-no-fix" required autocomplete="on"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            整包耗材：
                        </span>
                        <span>
							<select name="packageId" id="packageId" class="form-control">
                                <option value="0" selected>---请选择---</option>
                            </select>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveConsumable" type="button" class="btn blue">保存</button>
            <button id="closeConsumable" type="button" class="btn gray">取消</button>
        </div>
    </div>
    <div id="ledgerInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>台账登记</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="ledgerForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							耗材：<i>*</i>
						</span>
                        <input type="hidden" id="ledgerConsumable" name="ledgerConsumable"
                               class="form-control" required/>
                        <span id="ledgerConsumableName"></span>
                    </div>
                    <div class="formDiv">
						<span>
							操作：<i>*</i>
						</span>
                        <input type="hidden" id="ledgerType" name="ledgerType"
                               class="form-control" required/>
                        <span id="ledgerTypeName"></span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            变更数量：<i>*</i>
                        </span>
                        <span>
							<input type="number" id="ledgerCount" name="ledgerCount" placeholder=""
                                   class="form-control placeholder-no-fix" step="1" required autocomplete="off"
                                   value="0"/>
						</span>
                    </div>
                    <div class="formDiv">
                        <span>包装规格：</span>
                        <span>
                            <input type="number" id="subCount" name="subCount" placeholder=""
                                   class="form-control placeholder-no-fix" min="1" step="1" required
                                   autocomplete="off"/>
                        </span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
						<span>
							经手人：<i>*</i>
						</span>
                        <span id="ledgerUser"></span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="saveLedger" type="button" class="btn blue">保存</button>
            <button id="closeLedger" type="button" class="btn gray">取消</button>
        </div>
    </div>

    <script type="text/javascript">
        let ledgerTypes = ['盘点', '进货', '领取', '拆散'];

        let pageList;

        $('#searchBut').click(function () {
            search(1);
        });

        $('#createBut').click(function () {
            edit();
        });

        function search(pageNum) {
            const url = 'consumable/search';
            $.getJSON(
                url,
                {
                    'pageNum': pageNum,
                    'pageSize': 13,
                    'consumableName': $("#consumableNameSearch").val()
                },
                function (data) {
                    setPage(data, $(".pageBox"), $("#pageNum"));
                    $("#searchResult .userHeader").nextAll().remove();
                    $.each(data.content, function (i, n) {
                        pageList = data.content;
                        $("#searchResult").append('<div class="userRow"><span class="userItem5-2">'
                            + n.consumableName + (n.subConsumable.length == 0 && n.packageId == "0" ? "" : "（" + n.consumableUnit + "）")
                            + '</span><span class="userItem6">'
                            + nullToZero(n.consumableCount) + n.consumableUnit
                            + '</span><span class="userItem1"><button type="button" class="btn yellow" onclick="ledger(\''
                            + i
                            + '\', \'0\')">盘点</button>&emsp;<button type="button" class="btn green" onclick="ledger(\''
                            + i
                            + '\', \'1\')">进货</button>'
                            + (n.subConsumable.length > 0 ? '&emsp;<button type="button" class="btn blue" onclick="ledger(\'' + i + '\', \'3\')">拆散</button>' : '')
                            + '</span></div>');
                    });
                });
        }

        function edit() {
            $("#consumableForm").resetForm();
            dialogueOpen("consumableInfo");
        }

        function ledger(index, ledgerType) {
            $("#ledgerForm").resetForm();
            $("#ledgerConsumable").val(pageList[index].consumableId);
            $("#ledgerConsumableName").html(pageList[index].consumableName);
            $("#ledgerType").val(ledgerType);
            $("#ledgerTypeName").html(ledgerTypes[ledgerType]);
            $("#ledgerCount").attr('placeholder', "耗材变更数量（" + pageList[index].consumableUnit + "）");
            switch (ledgerType) {
                case '0':
                    $("#ledgerCount").removeAttr('min');
                    $("#subCount").parent().parent().hide();
                    $("#subCount").attr("disabled", true);
                    break;
                case '1':
                    $("#ledgerCount").attr('min', 1);
                    $("#subCount").parent().parent().hide();
                    $("#subCount").attr("disabled", true);
                    break;
                case '3':
                    $("#ledgerCount").attr('min', 1);
                    $("#subCount").parent().parent().show();
                    $("#subCount").attr("disabled", false).attr("placeholder", "每" + pageList[index].consumableUnit + "应有数量（" + pageList[index].subConsumable[0].consumableUnit + "）");
                    break;
            }
            dialogueOpen("ledgerInfo");
        }

        $(".dialogueClose").click(function () {
            dialogueClose($(this).parent().parent().attr("id"));
        });

        $("#closeConsumable").click(function () {
            dialogueClose("consumableInfo");
        });

        $("#saveConsumable").click(function () {
            $("form#consumableForm").submit();
        });

        $("#closeLedger").click(function () {
            dialogueClose("ledgerInfo");
        });

        $("#saveLedger").click(function () {
            $("form#ledgerForm").submit();
        });

        $(function () {
            $("form#consumableForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "consumable/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("consumableInfo");
                            search(1);
                            getConsumableList();
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        $(function () {
            $("form#ledgerForm.needs-validation").validate({
                submitHandler: function (form) {
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "consumable/ledger/edit",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("ledgerInfo");
                            search(1);
                            layer.msg(result.content, {
                                time: 2000
                            });
                        }
                    });
                }
            });
        });

        function getConsumableList() {
            const url = 'consumable/list';
            $("#packageId option[value='0']").nextAll().remove();
            $.getJSON(url, function (data) {
                $.each(data, function (i, n) {
                    let str = "<option value='" + n.consumableId + "'>" + n.consumableName + (n.packageId != "0" ? "（" + n.consumableUnit + "）" : "") + "</option>";
                    $("#packageId").append(str);
                });
            });
        }

        function userInit() {
            const url = 'user/me';
            $.getJSON(url, function (data) {
                $("#ledgerUser").html(data.userName);
            });
        }

        $(function () {
            search(1);
            userInit();
            getConsumableList();
            $("#index-page-title").html("耗材库存管理");
            $("#current-page-title").html("耗材库存管理");
        });
    </script>
</div>