<div class="mainContent">
    <div class="mask"></div>
    <div id="pswInfo" class="dialogueBox">
        <div class="dialogueHeader">
            <span>修改密码</span>
            <span class="dialogueClose">
				<i class="fa fa-window-close"></i>
			</span>
        </div>
        <div class="dialogueBody">
            <form id="pswForm" class="needs-validation">
                <div class="formLine">
                    <div class="formDiv">
						<span>
							新密码：<i>*</i>
						</span>
                        <span>
							<input type="password" id="userPsw" name="userPsw" placeholder="新密码"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
                <div class="formLine">
                    <div class="formDiv">
                        <span>
                            确认密码：<i>*</i>
                        </span>
                        <span>
							<input type="password" id="userPsw0" name="userPsw0" placeholder="确认密码"
                                   class="form-control placeholder-no-fix" required autocomplete="off"/>
						</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="dialogueFooter">
            <button id="savePsw" type="button" class="btn blue">保存</button>
            <button id="closePsw" type="button" class="btn gray">取消</button>
        </div>
    </div>

    <script type="text/javascript">

        function resetPsw(userId) {
            $.getJSON("user/reset", {"userId": userId}, function (message) {
                layer.msg(message.content, {
                    time: 2000
                });
            });
        }

        $(".dialogueClose").click(function (target) {
            dialogueClose($(this).parent().parent().attr("id"));
            window.location.reload();
        });

        $("#closePsw").click(function (target) {
            dialogueClose("userInfo");
            window.location.reload();
        });

        $("#savePsw").click(function (target) {
            $("form#pswForm").submit();
        });

        $(function () {
            $("form#pswForm.needs-validation").validate({
                submitHandler: function (form) {
                    $("#userPsw0").clearFields();
                    $("#userPsw").val(sha256_digest($("#userPsw").val()));
                    $(form).ajaxSubmit({
                        type: 'post',
                        url: "user/changePsw",
                        dataType: "json",
                        success: function (result) { //表单提交后更新页面显示的数据
                            dialogueClose("pswInfo");
                            layer.msg(result.content, {
                                time: 2000
                            });
                            window.location.href = "/logout";
                        }
                    });
                },
                rules: {
                    "userPsw0": {
                        equalTo: "#userPsw"
                    }
                },
                messages: {
                    "userPsw0": {
                        equalTo: "两次输入的密码不一致"
                    }
                }
            });
        });

        $(function () {
            dialogueOpen("pswInfo");
            $("#index-page-title").html("修改密码");
            $("#current-page-title").html("修改密码");
        });
    </script>
</div>