<div class="mainContent">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>设备统计与月流水</legend>
        <div id="equipmentCard" class="layui-tab layui-tab-card" lay-filter="equipment-card">
            <ul class="layui-tab-title">
                <li class="layui-this">在库统计</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table id="equipmentTable" lay-filter="equipment"></table>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset class="layui-elem-field layui-field-title">
        <legend>耗材存量与台账</legend>
        <div id="consumableCard" class="layui-tab layui-tab-card" lay-filter="consumable-card">
            <ul class="layui-tab-title">
                <li class="layui-this">存量</li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <table id="consumableTable" lay-filter="consumable"></table>
                </div>
            </div>
        </div>
    </fieldset>

    <script type="text/javascript">
        layui.use('element', function () {
            let element = layui.element;
        });

        layui.use('table', function () {
            let table = layui.table;
            table.render({
                elem: '#equipmentTable'
                , height: 300
                , url: 'statistics/equipment'
                , toolbar: true
                , defaultToolbar: ['exports', 'print']
                , page: false
                , cols: [
                    [{field: 'typeName', title: '类型', width: '15%', sort: true, fixed: 'left'}
                        , {field: 'abandon', title: '报废', width: '10%', sort: true, align: 'right'}
                        , {field: 'lend', title: '借出', width: '10%', sort: true, align: 'right'}
                        , {field: 'keep', title: '暂存', width: '10%', sort: true, align: 'right'}
                        , {field: 'repair', title: '报修', width: '10%', sort: true, align: 'right'}
                        , {field: 'give', title: '调拨', width: '10%', sort: true, align: 'right'}
                        , {field: 'unsure', title: '未定', width: '10%', sort: true, align: 'right'}
                        , {field: 'total', title: '总计', sort: true, fixed: 'right', align: 'right'}]
                ]
            });
            table.render({
                elem: '#consumableTable'
                , url: 'statistics/consumable'
                , toolbar: true
                , defaultToolbar: ['exports', 'print']
                , page: false
                , cols: [
                    [{field: 'consumableName', title: '耗材', width: '25%', sort: true, fixed: 'left'}
                        , {field: 'consumableUnit', title: '单位', width: '10%', fixed: 'left', align: 'center'}
                        , {field: 'consumableCount', title: '存量', sort: true, align: 'left'}]
                ]
            });
        });

        function getLogPeriod() {
            $.getJSON('statistics/logPeriod',
                function (data) {
                    $.each(data, function (i, n) {
                        $("#equipmentCard>ul").append("<li>" + n.period + "</li>");
                        $("#equipmentCard>div").append("<div class=\"layui-tab-item\"><table id=\"ep" + i + "\"></table></div>");
                        layui.use('table', function () {
                            let table = layui.table;
                            table.render({
                                elem: '#ep' + i
                                , height: 300
                                , url: 'statistics/log?logYear=' + n.logYear + "&logMonth=" + n.logMonth
                                , toolbar: true
                                , defaultToolbar: ['exports', 'print']
                                , page: false
                                , cols: [
                                    [{field: 'typeName', title: '类型', width: '15%', sort: true, fixed: 'left'}
                                        , {field: 'lend', title: '借出', width: '10%', sort: true, align: 'right'}
                                        , {field: 'back', title: '归还', width: '10%', sort: true, align: 'right'}
                                        , {field: 'repair', title: '报修', width: '10%', sort: true, align: 'right'}
                                        , {field: 'abandon', title: '报废', width: '10%', sort: true, align: 'right'}
                                        , {field: 'move', title: '存放', width: '10%', sort: true, align: 'right'}
                                        , {field: 'give', title: '调拨', sort: true, align: 'right'}]
                                ]
                            });
                        });
                    });
                });
        }

        function getLedgerPeriod() {
            $.getJSON('statistics/ledgerPeriod',
                function (data) {
                    $.each(data, function (i, n) {
                        $("#consumableCard>ul").append("<li>" + n.period + "</li>");
                        $("#consumableCard>div").append("<div class=\"layui-tab-item\"><table id=\"cp" + i + "\"></table></div>");
                        layui.use('table', function () {
                            let table = layui.table;
                            table.render({
                                elem: '#cp' + i
                                , height: 300
                                , url: 'statistics/ledger?logYear=' + n.logYear + "&logMonth=" + n.logMonth
                                , toolbar: true
                                , defaultToolbar: ['exports', 'print']
                                , page: false
                                , cols: [
                                    [{field: 'consumableName', title: '耗材', width: '25%', sort: true, fixed: 'left'}
                                        , {
                                        field: 'consumableUnit',
                                        title: '单位',
                                        width: '10%',
                                        fixed: 'left',
                                        align: 'center'
                                    }
                                        , {field: 'check', title: '盘点', width: '10%', sort: true, align: 'right'}
                                        , {field: 'buy', title: '购入', width: '10%', sort: true, align: 'right'}
                                        , {field: 'receive', title: '领取', width: '10%', sort: true, align: 'right'}
                                        , {field: 'split', title: '拆分', width: '10%', sort: true, align: 'right'}
                                        , {field: 'net', title: '净变动', sort: true, fixed: 'right', align: 'right'}]
                                ]
                            });
                        });
                    });
                });
        }

        $(function () {
            getLogPeriod();
            getLedgerPeriod();
            $("#index-page-title").html("资产统计");
            $("#current-page-title").html("资产统计");
        });
    </script>
</div>