<div class="mainContent">
    <div id="networkParameter" class="layui-tab layui-tab-card" lay-filter="main-card">
        <ul class="layui-tab-title">
            <li lay-id="0" class="layui-this">终端类型</li>
            <li lay-id="1">操作系统</li>
            <li lay-id="2">网段</li>
            <li lay-id="3">房号</li>
            <li lay-id="4">密级</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <table id="terminalTable" lay-filter="0"></table>
            </div>
            <div class="layui-tab-item">
                <table id="systemTable" lay-filter="1"></table>
            </div>
            <div class="layui-tab-item">
                <table id="segmentTable" lay-filter="2"></table>
            </div>
            <div class="layui-tab-item">
                <table id="roomTable" lay-filter="3"></table>
            </div>
            <div class="layui-tab-item">
                <table id="secrecyTable" lay-filter="4"></table>
            </div>
        </div>
    </div>

    <div>
        <form id="edit" class="layui-form" action="" lay-filter="editForm">
            <input type="hidden" name="networkParameterId">
            <div class="layui-form-item">
                <label class="layui-form-label">参数名</label>
                <div class="layui-input-inline">
                    <input type="text" name="networkParameterName" required lay-verify="required"
                           lay-verType="tips" placeholder="请输入参数名"
                           autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">参数值</label>
                <div class="layui-input-inline">
                    <input type="text" name="networkParameterValue" placeholder="请输入参数值" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用途</label>
                <div class="layui-input-inline">
                    <select name="networkParameterUse" lay-verify="required" lay-verType="tips">
                        <option value=""></option>
                        <option value="0">全部可用</option>
                        <option value="1">仅用于服务器</option>
                        <option value="2">仅用于PC</option>
                        <option value="3">停用</option>
                    </select>
                </div>
                <label class="layui-form-label">分组</label>
                <div class="layui-input-inline">
                    <select name="networkParameterGroup" lay-verify="required" lay-verType="tips">
                        <option value=""></option>
                        <option value="0">终端类型</option>
                        <option value="1">操作系统</option>
                        <option value="2">网段</option>
                        <option value="3">房号</option>
                        <option value="4">密级</option>
                    </select>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="save">保存</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <script type="text/html" id="topBar">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="create">新增参数</button>
        </div>
    </script>

    <script type="text/html" id="rowBar">
        <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    </script>

    <script type="text/javascript">
        let group = ["终端类型", "操作系统", "网段", "房号", "密级"];
        let use = ["全部可用", "仅用于服务器", "仅用于PC", "停用"];
        let groupTable = ["#terminalTable", "#systemTable", "#segmentTable", "#roomTable", "#secrecyTable"];

        layui.use('element', function () {
            let element = layui.element;
            let table = layui.table;

            element.on('tab(main-card)', function (data) {
                table.render({
                    elem: groupTable[data.index]
                    , url: 'network/networkParameter/search?networkParameterGroup=' + data.index
                    , toolbar: "#topBar"
                    , defaultToolbar: false
                    , page: true
                    , limit: 15
                    , cols: [
                        [{field: 'networkParameterId', title: 'ID', hide: true}
                            , {field: 'networkParameterName', width: 300, title: '参数名', sort: true, fixed: 'left'}
                            , {
                            field: 'use', title: '适用范围', sort: true, templet: function (d) {
                                return use[d.networkParameterUse];
                            }
                        }
                            , {field: 'networkParameterUse', title: 'use', hide: true}
                            , {field: 'networkParameterGroup', title: 'group', hide: true}
                            , {field: 'networkParameterValue', title: '参数值', sort: true}
                            , {fixed: 'right', title: '操作', toolbar: '#rowBar', width: 80}]
                    ]
                });

                table.on('toolbar(' + data.index + ')', function (obj) {
                    if (obj.event === 'create') {
                        let layerIndex = layer.open({
                            type: 1
                            , title: "新增参数"
                            , content: $('#edit')
                            , area: ['600px', '600px']
                            , success: function () {
                                $('#edit').show();
                                layui.use('form', function () {
                                    let form = layui.form;
                                    form.render();
                                    $('#edit button[type="reset"]').click();
                                    $('#edit input[name="networkParameterId"]').val("");
                                    form.val("editForm", {
                                        "networkParameterGroup": data.index
                                    });
                                    form.on('submit(save)', function () {
                                        $('#edit').ajaxSubmit({
                                            type: 'post',
                                            url: "network/networkParameter/edit",
                                            dataType: "json",
                                            success: function (result) { //表单提交后更新页面显示的数据
                                                layer.close(layerIndex);
                                                element.tabChange('main-card', data.index);
                                                layer.msg(result.content, {
                                                    time: 2000
                                                });
                                            }
                                        });
                                        return false;
                                    });
                                });
                            }
                        });
                    }
                });

                table.on('tool(' + data.index + ')', function (obj) {
                    let objData = obj.data;
                    if (obj.event === 'edit') {
                        let layerIndex = layer.open({
                            type: 1
                            , title: "编辑参数"
                            , content: $('#edit')
                            , area: ['600px', '600px']
                            , success: function () {
                                $('#edit').show();
                                layui.use('form', function () {
                                    let form = layui.form;
                                    form.render();
                                    $('#edit button[type="reset"]').click();
                                    form.val("editForm", {
                                        "networkParameterId": objData.networkParameterId
                                        , "networkParameterName": objData.networkParameterName
                                        , "networkParameterUse": objData.networkParameterUse
                                        , "networkParameterGroup": objData.networkParameterGroup
                                        , "networkParameterValue": objData.networkParameterValue
                                    });
                                    form.on('submit(save)', function () {
                                        $('#edit').ajaxSubmit({
                                            type: 'post',
                                            url: "network/networkParameter/edit",
                                            dataType: "json",
                                            success: function (result) { //表单提交后更新页面显示的数据
                                                layer.close(layerIndex);
                                                element.tabChange('main-card', data.index);
                                                layer.msg(result.content, {
                                                    time: 2000
                                                });
                                            }
                                        });
                                        return false;
                                    });
                                });
                            }
                        });
                    }
                });
            });

            element.tabChange('main-card', 0);
        });

        $(function () {
            $('#edit').hide();
            $("#index-page-title").html("网络管理参数设置");
            $("#current-page-title").html("网络管理参数设置");
        });
    </script>
</div>