<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demstudio.zzbzcglxt.repository.NetworkParameterMapper">
  <resultMap id="BaseResultMap" type="com.demstudio.zzbzcglxt.domain.NetworkParameter">
    <constructor>
      <idArg column="NETWORK_PARAMETER_ID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NETWORK_PARAMETER_NAME" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="NETWORK_PARAMETER_USE" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NETWORK_PARAMETER_GROUP" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="NETWORK_PARAMETER_VALUE" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NETWORK_PARAMETER_ID, NETWORK_PARAMETER_NAME, NETWORK_PARAMETER_USE, NETWORK_PARAMETER_GROUP, 
    NETWORK_PARAMETER_VALUE
  </sql>
  <select id="selectByExample" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameterExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from network_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from network_parameter
    where NETWORK_PARAMETER_ID = #{networkParameterId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from network_parameter
    where NETWORK_PARAMETER_ID = #{networkParameterId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameterExample">
    delete from network_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameter">
    insert into network_parameter (NETWORK_PARAMETER_ID, NETWORK_PARAMETER_NAME, 
      NETWORK_PARAMETER_USE, NETWORK_PARAMETER_GROUP, 
      NETWORK_PARAMETER_VALUE)
    values (#{networkParameterId,jdbcType=VARCHAR}, #{networkParameterName,jdbcType=VARCHAR}, 
      #{networkParameterUse,jdbcType=INTEGER}, #{networkParameterGroup,jdbcType=INTEGER}, 
      #{networkParameterValue,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameter">
    insert into network_parameter
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="networkParameterId != null">
        NETWORK_PARAMETER_ID,
      </if>
      <if test="networkParameterName != null">
        NETWORK_PARAMETER_NAME,
      </if>
      <if test="networkParameterUse != null">
        NETWORK_PARAMETER_USE,
      </if>
      <if test="networkParameterGroup != null">
        NETWORK_PARAMETER_GROUP,
      </if>
      <if test="networkParameterValue != null">
        NETWORK_PARAMETER_VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="networkParameterId != null">
        #{networkParameterId,jdbcType=VARCHAR},
      </if>
      <if test="networkParameterName != null">
        #{networkParameterName,jdbcType=VARCHAR},
      </if>
      <if test="networkParameterUse != null">
        #{networkParameterUse,jdbcType=INTEGER},
      </if>
      <if test="networkParameterGroup != null">
        #{networkParameterGroup,jdbcType=INTEGER},
      </if>
      <if test="networkParameterValue != null">
        #{networkParameterValue,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameterExample" resultType="java.lang.Long">
    select count(*) from network_parameter
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update network_parameter
    <set>
      <if test="record.networkParameterId != null">
        NETWORK_PARAMETER_ID = #{record.networkParameterId,jdbcType=VARCHAR},
      </if>
      <if test="record.networkParameterName != null">
        NETWORK_PARAMETER_NAME = #{record.networkParameterName,jdbcType=VARCHAR},
      </if>
      <if test="record.networkParameterUse != null">
        NETWORK_PARAMETER_USE = #{record.networkParameterUse,jdbcType=INTEGER},
      </if>
      <if test="record.networkParameterGroup != null">
        NETWORK_PARAMETER_GROUP = #{record.networkParameterGroup,jdbcType=INTEGER},
      </if>
      <if test="record.networkParameterValue != null">
        NETWORK_PARAMETER_VALUE = #{record.networkParameterValue,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update network_parameter
    set NETWORK_PARAMETER_ID = #{record.networkParameterId,jdbcType=VARCHAR},
      NETWORK_PARAMETER_NAME = #{record.networkParameterName,jdbcType=VARCHAR},
      NETWORK_PARAMETER_USE = #{record.networkParameterUse,jdbcType=INTEGER},
      NETWORK_PARAMETER_GROUP = #{record.networkParameterGroup,jdbcType=INTEGER},
      NETWORK_PARAMETER_VALUE = #{record.networkParameterValue,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameter">
    update network_parameter
    <set>
      <if test="networkParameterName != null">
        NETWORK_PARAMETER_NAME = #{networkParameterName,jdbcType=VARCHAR},
      </if>
      <if test="networkParameterUse != null">
        NETWORK_PARAMETER_USE = #{networkParameterUse,jdbcType=INTEGER},
      </if>
      <if test="networkParameterGroup != null">
        NETWORK_PARAMETER_GROUP = #{networkParameterGroup,jdbcType=INTEGER},
      </if>
      <if test="networkParameterValue != null">
        NETWORK_PARAMETER_VALUE = #{networkParameterValue,jdbcType=VARCHAR},
      </if>
    </set>
    where NETWORK_PARAMETER_ID = #{networkParameterId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.demstudio.zzbzcglxt.domain.NetworkParameter">
    update network_parameter
    set NETWORK_PARAMETER_NAME = #{networkParameterName,jdbcType=VARCHAR},
      NETWORK_PARAMETER_USE = #{networkParameterUse,jdbcType=INTEGER},
      NETWORK_PARAMETER_GROUP = #{networkParameterGroup,jdbcType=INTEGER},
      NETWORK_PARAMETER_VALUE = #{networkParameterValue,jdbcType=VARCHAR}
    where NETWORK_PARAMETER_ID = #{networkParameterId,jdbcType=VARCHAR}
  </update>
</mapper>