<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demstudio.zzbzcglxt.repository.UserMapper">
    <resultMap id="BaseResultMap" type="com.demstudio.zzbzcglxt.domain.User">
        <constructor>
            <idArg column="USER_ID" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="USER_NAME" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="USER_PSW" javaType="java.lang.String" jdbcType="VARCHAR"/>
            <arg column="USER_ROLE_ID" javaType="java.lang.Integer" jdbcType="INTEGER"/>
            <arg column="USER_DESC" javaType="java.lang.String" jdbcType="VARCHAR"/>
        </constructor>
    </resultMap>
    <sql id="Example_Where_Clause">
        <where>
            <foreach collection="oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Update_By_Example_Where_Clause">
        <where>
            <foreach collection="example.oredCriteria" item="criteria" separator="or">
                <if test="criteria.valid">
                    <trim prefix="(" prefixOverrides="and" suffix=")">
                        <foreach collection="criteria.criteria" item="criterion">
                            <choose>
                                <when test="criterion.noValue">
                                    and ${criterion.condition}
                                </when>
                                <when test="criterion.singleValue">
                                    and ${criterion.condition} #{criterion.value}
                                </when>
                                <when test="criterion.betweenValue">
                                    and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                                </when>
                                <when test="criterion.listValue">
                                    and ${criterion.condition}
                                    <foreach close=")" collection="criterion.value" item="listItem" open="("
                                             separator=",">
                                        #{listItem}
                                    </foreach>
                                </when>
                            </choose>
                        </foreach>
                    </trim>
                </if>
            </foreach>
        </where>
    </sql>
    <sql id="Base_Column_List">
    USER_ID, USER_NAME, USER_PSW, USER_ROLE_ID, USER_DESC
  </sql>
    <select id="selectByExample" parameterType="com.demstudio.zzbzcglxt.domain.UserExample" resultMap="BaseResultMap">
        select
        <if test="distinct">
            distinct
        </if>
        <include refid="Base_Column_List"/>
        from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
        <if test="orderByClause != null">
            order by ${orderByClause}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from user
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </delete>
    <delete id="deleteByExample" parameterType="com.demstudio.zzbzcglxt.domain.UserExample">
        delete from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </delete>
    <insert id="insert" parameterType="com.demstudio.zzbzcglxt.domain.User">
    insert into user (USER_ID, USER_NAME, USER_PSW, 
      USER_ROLE_ID, USER_DESC)
    values (#{userId,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, #{userPsw,jdbcType=VARCHAR}, 
      #{userRoleId,jdbcType=INTEGER}, #{userDesc,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.demstudio.zzbzcglxt.domain.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                USER_ID,
            </if>
            <if test="userName != null">
                USER_NAME,
            </if>
            <if test="userPsw != null">
                USER_PSW,
            </if>
            <if test="userRoleId != null">
                USER_ROLE_ID,
            </if>
            <if test="userDesc != null">
                USER_DESC,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPsw != null">
                #{userPsw,jdbcType=VARCHAR},
            </if>
            <if test="userRoleId != null">
                #{userRoleId,jdbcType=INTEGER},
            </if>
            <if test="userDesc != null">
                #{userDesc,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <select id="countByExample" parameterType="com.demstudio.zzbzcglxt.domain.UserExample" resultType="java.lang.Long">
        select count(*) from user
        <if test="_parameter != null">
            <include refid="Example_Where_Clause"/>
        </if>
    </select>
    <update id="updateByExampleSelective" parameterType="map">
        update user
        <set>
            <if test="record.userId != null">
                USER_ID = #{record.userId,jdbcType=VARCHAR},
            </if>
            <if test="record.userName != null">
                USER_NAME = #{record.userName,jdbcType=VARCHAR},
            </if>
            <if test="record.userPsw != null">
                USER_PSW = #{record.userPsw,jdbcType=VARCHAR},
            </if>
            <if test="record.userRoleId != null">
                USER_ROLE_ID = #{record.userRoleId,jdbcType=INTEGER},
            </if>
            <if test="record.userDesc != null">
                USER_DESC = #{record.userDesc,jdbcType=VARCHAR},
            </if>
        </set>
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByExample" parameterType="map">
        update user
        set USER_ID = #{record.userId,jdbcType=VARCHAR},
        USER_NAME = #{record.userName,jdbcType=VARCHAR},
        USER_PSW = #{record.userPsw,jdbcType=VARCHAR},
        USER_ROLE_ID = #{record.userRoleId,jdbcType=INTEGER},
        USER_DESC = #{record.userDesc,jdbcType=VARCHAR}
        <if test="_parameter != null">
            <include refid="Update_By_Example_Where_Clause"/>
        </if>
    </update>
    <update id="updateByPrimaryKeySelective" parameterType="com.demstudio.zzbzcglxt.domain.User">
        update user
        <set>
            <if test="userName != null">
                USER_NAME = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userPsw != null">
                USER_PSW = #{userPsw,jdbcType=VARCHAR},
            </if>
            <if test="userRoleId != null">
                USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER},
            </if>
            <if test="userDesc != null">
                USER_DESC = #{userDesc,jdbcType=VARCHAR},
            </if>
        </set>
        where USER_ID = #{userId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.demstudio.zzbzcglxt.domain.User">
    update user
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      USER_PSW = #{userPsw,jdbcType=VARCHAR},
      USER_ROLE_ID = #{userRoleId,jdbcType=INTEGER},
      USER_DESC = #{userDesc,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </update>
</mapper>